In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('seattle-weather.csv')

In [3]:
data

            date  precipitation  temp_max  temp_min  wind  weather
0     2012-01-01            0.0      12.8       5.0   4.7  drizzle
1     2012-01-02           10.9      10.6       2.8   4.5     rain
2     2012-01-03            0.8      11.7       7.2   2.3     rain
3     2012-01-04           20.3      12.2       5.6   4.7     rain
4     2012-01-05            1.3       8.9       2.8   6.1     rain
...          ...            ...       ...       ...   ...      ...
1456  2015-12-27            8.6       4.4       1.7   2.9     rain
1457  2015-12-28            1.5       5.0       1.7   1.3     rain
1458  2015-12-29            0.0       7.2       0.6   2.6      fog
1459  2015-12-30            0.0       5.6      -1.0   3.4      sun
1460  2015-12-31            0.0       5.6      -2.1   3.5      sun

[1461 rows x 6 columns]

In [4]:
data['weather'].unique()

array(['drizzle', 'rain', 'sun', 'snow', 'fog'], dtype=object)

In [5]:
data.shape

(1461, 6)

In [6]:
data.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [7]:
 data.isnull().sum()

date             0
precipitation    0
temp_max         0
temp_min         0
wind             0
weather          0
dtype: int64

In [8]:
data.dropna(inplace=True)

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [10]:
le = LabelEncoder()
data["weather"] = le.fit_transform(data["weather"])

In [11]:
x = data[["precipitation","temp_max","temp_min","wind"]]
y = data["weather"]

In [12]:
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
x_train.shape

(1168, 4)

In [14]:
x_test.shape

(293, 4)

In [15]:
x_train

      precipitation  temp_max  temp_min  wind
1066            0.0       5.6      -3.2   5.7
638            18.5      13.9      10.0   6.3
799            18.8      12.2       6.1   2.2
380             0.0       6.7      -0.6   2.3
303            34.5      15.0      12.2   2.8
...             ...       ...       ...   ...
1130            8.4      10.6       4.4   1.7
1294            0.0      33.3      17.8   3.4
860             0.5      15.6       7.2   2.1
1459            0.0       5.6      -1.0   3.4
1126            0.0       7.2       3.3   1.9

[1168 rows x 4 columns]

In [16]:
model = RandomForestClassifier(n_estimators=100, random_state=42)

In [17]:
model.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [18]:
y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)

In [19]:
print(f"Accuracy: {accuracy * 100: .2f}%")

Accuracy:  81.57%

In [20]:
test = [0.8, 11.7, 7.2,2.3]

In [21]:
x.columns.values

array(['precipitation', 'temp_max', 'temp_min', 'wind'], dtype=object)

In [22]:
df = pd.DataFrame(columns=x.columns.values,data=[test])
df

   precipitation  temp_max  temp_min  wind
0            0.8      11.7       7.2   2.3

In [23]:
Prediction = model.predict(df)

In [24]:
predicted_weather = le.inverse_transform(Prediction)

In [25]:
print(f"predicted weather: {predicted_weather[0]}")

predicted weather: rain

In [26]:
print(predicted_weather)

['rain']

In [35]:
precipitation = float(input("input precipitation amount: "))
temp_max = float(input("input temp_max amount: "))
temp_min = float(input("input temp_min amount: "))
wind = float(input("input wind amount: "))

input precipitation amount: 0.0
input temp_max amount: 7.2
input temp_min amount: 0.6
input wind amount: 2.6

In [36]:
user_data = [[precipitation,temp_max,temp_min,wind]]

In [37]:
user_prediction = model.predict(user_data)
predicted_weather = le.inverse_transform(user_prediction)

In [38]:
 print(predicted_weather)

['fog']